@font-face {
    font-family: alaa-anan;
    src: url(/Alaa_font-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: alaa-anan;
}

/* navebar starts here */

.logo{
    width: 50%;
    padding: 0;
    margin: 0;
}

.my-name{
    font-size: 37px;
    font-weight: lighter;
}

.menu-btn{
    display: block;
}


ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(255, 232, 243, 1);
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
}

nav ul li{
    display: block;
    margin: 20px 0;
    line-height: 120px;
}

nav ul li a{
    font-size: 50px;
}

#click:checked ~ ul{
    left: 0;
}

/* navebar ends here */

/* about me page starts here */

#about-me{
    display: grid;
    justify-content: space-around;
    justify-items: center;
    padding: 10px;
    margin-bottom: 40px;
}

.about{
    display: grid;
    justify-content: space-evenly;
    justify-items: center;
    padding: 0;
    
}

object{
    width: 90%;
    height: 90%;
    padding: 0;
    margin: 0;
}

p{
    padding: 10px 30px 5px 30px;
    font-size: 35px;
    text-align: center
    
}

h1{
    font-size: 50px;
    padding: 5px;
}

h2{
    font-size: 40px;
    padding: 5px;
}

img{
    height: 25px;
    width: 25px;
}

.icons{
    padding: 10px;
    height: 50px;
}

button{
    margin: 5px;
}

@media (min-width: 517px){
    .logo{
        width: 35%;
    }
}

@media (min-width: 720px){
    .logo{
        width: 25%;
    }
}

