@font-face {
    font-family: alaa-anan;
    src: url(Alaa_font-Regular.ttf);
}

/* 
navbar pink "rgba(255, 232, 243, 1)"
navbar text color "rgba(92, 114, 255, 1)"
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;

}

body{
    font-family: alaa-anan;
}


/* navebar starts here */

nav{
    background-color: rgba(255, 232, 243, 1);
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    justify-items: center;
    padding: 5px 10px 5px 10px;
}

.logo{
    height: 100%;
    width: 20%;
    color:rgba(92, 114, 255, 1);
    display: flex;
    justify-content: space-evenly;
    justify-items: center;
    align-items: center;
}

.profile-img{
    height: 80%;
    width: 55px;
    border-radius: 50%;
    margin: 5px;
}

.my-name{
    font-weight: lighter;
    font-size: 70px;
}

h2{
    font-size: 40px;
    margin: 5px;
    padding-bottom: 8px;
    font-stretch: normal;
}


nav ul{
    float: right;
    margin-right: 10px;
}

nav ul li{
    display: inline-block;
    line-height: 70px;
    margin: 0 50px;

}

nav ul li a{
    color: rgba(92, 114, 255, 1);
    font-size: 50px;
    text-transform: uppercase;

}

a.active,a:hover{
    background-color: white;
    transition: .5s;
    border-radius: 7px;
    padding: 5px 10px 5px 10px;
}
 
.menu-btn{
    font-size: 30px;
    color:rgba(92, 114, 255, 1);
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#click{
    display: none;
}


/* navebar ends here */

/* about me page starts here */

#about-me{
    display: flex;
    justify-content: space-around;
    justify-items: center;
    padding: 10px;
    margin-bottom: 40px;
}

object{
    width: 50%;
    height: 50%;
    padding: 0;
    margin: 0;
}

.about{
    font-size: 70px;
    color: rgba(237, 155, 204, 1);
    display: grid;
    justify-content: space-around;
    justify-items: center;
    padding: 350px 100px 200px 100px;

}

p{
    padding: 50px 70px 5px 70px;
    font-size: 55px;

}

h2{
    font-size: 60px;
    text-align: left;
}

h1{
    font-size: 100px;
}

.icons{
    display: flex;
    justify-content: space-evenly;
    justify-items: center;
    height: 110px;
    width: 30px;
    padding: 30px
}

img{
    height: 50px;
    width: 50px;
}

button{
    height: 40px;
    width: 100px;
    padding: 0;
    line-height: 1px;
    align-items: center;
    background-color: rgba(165, 177, 253, 1);
    border-radius: 25px;
    border: none;
    font-family: alaa-anan;
    font-size: 40px;
    color: white;
}

/* about me page ends here */

/* skills page starts here */

#skills{
    margin: 100px 50px 100px 50px;
}

.obj-skill{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    margin-bottom: 40px;
    width: 100%;
}


#skills h1{
    padding: 0;
    margin: 0;
    color: rgba(92, 114, 255, 1);
    text-transform: uppercase;
    letter-spacing: 2px;;
    width: 100%;
    text-align: center;
}

.center{
    width: 40%;
    height: auto;
    padding-top: 20px;
}

.skills-box{
    box-sizing: border-box;
    width: 100%;
    margin: 20px 0;
}

.skill-box p{
    color:rgba(92, 114, 255, 1);
    text-transform: uppercase;
    margin: 0 0 10px;
    padding: 0;
    letter-spacing: 1px;
    font-size: 80px;
    font-weight: lighter;
    text-align: left;
}

.skill-box p:nth-child(2){
    float: right;
    position: relative;
    top: -54px;
}

.skill{
    background:rgba(255, 232, 243, 1);
    padding: 4px;
    box-sizing: border-box;
    border: 1px solid rgba(237, 155, 204, 1);
    border-radius: 10px;
}

.skill-level{
    background: rgba(92, 114, 255, 1);
    width: 100%;
    height: 15px;
    border-radius: 10px;
}

/* skills  page ends here */

/* projects page starts here */

#projects{
    display: grid;
    justify-content: space-around;
    justify-items: center;
    padding: 10px;
    margin-bottom: 40px;
}









/* projects page ends here */

/* blog page starts here */

#blog{
    display: grid;
    justify-content: space-around;
    justify-items: center;
    padding: 10px;
    margin-bottom: 40px;

}

/* blog page ends here */

/* contact-met page starts here */

#contact-me{
    display: grid;
    justify-content: space-around;
    justify-items: center;
    padding: 10px;
    margin-bottom: 40px;
}











@media (max-width: 1285px){
    .logo{
        font-size: 40px;
        padding-left: 20px;
    }

    nav ul li a{
        font-size: 40px;

    }
    nav ul li{
        margin: 0 30px;
    }
    .my-name{
        font-size: 42px;
    }
    .about{
        padding: 150px 50px 50px 50px;
    }
    p{
        padding: 30px 40px 5px 40px;
        font-size: 55px;
    }
    
    h1{
        font-size: 90px;
    }
}