@font-face {
    font-family: alaa-anan;
    src: local('alaa-anan')
    url(../fonts/Alaa_font-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin-left: 40px;
    font-family: alaa-anan;
}

.container{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;

}

/* navebar starts here */

.logo{
    width: 50%;
    padding: 0;
    margin: 0;
}

.my-name{
    font-size: 37px;
    font-weight: lighter;
}

.menu-btn{
    display: block;
}

nav{
    width:auto;
}

ul{
    position: fixed;
    width: 100%;
    height: 150vh;
    background-color: rgba(255, 232, 243, 1);
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
}

nav ul li{
    display: block;
    margin: 20px 0;
    line-height: 120px;
}

nav ul li a{
    font-size: 50px;
}

#click:checked ~ ul{
    left: 0;
}

/* navebar ends here */

/* about me page starts here */

#about-me{
    display: grid;
    justify-content: space-around;
    justify-items: center;
    align-items: center;
    padding: 10px;
    margin: 100px 0px 150px 0px;
}

.about{
    display: grid;
    justify-content: space-evenly;
    justify-items: center;
    padding: 0;
    
}

object{
    width: 90%;
    height: 90%;
    padding: 0;
    margin: 0;
}

p{
    padding: 10px 10px 5px 10px;
    font-size: 40px;
    text-align: center
    
}

h1{
    font-size: 50px;
    padding: 5px;
}

h2{
    font-size: 40px;
    padding: 5px;
}

img{
    height: 25px;
    width: 25px;
}

.icons{
    padding: 50px;
    height: 50px;
}

.icon{
    height: 50px;
    width: 50px;
}


button{
    margin: 5px;
}


/* about me page ends here */

/* skills page starts here */

#skills{
    margin: 100px 0 100px 0px;
}


.imgskill{
    height: 100%;
    width: 100%;
}


.obj-skill{
    display: grid;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}

.center{
    width: 100%;
    height: auto;
    padding: 50px 0 100px 0;
}

.skill-level{
    width: 100%;
    height: 10px;
    
}
.skill-box p{
    font-size: 60px;
}

#skills h1{
    font-size: 80px;
    padding: 10px;
}

/* skills  page ends here */

/* projects page starts here */


#projects{
    margin: 0 0 10px 0;
    padding: 0;
}

#projects h1{
    font-size: 80px;
}


.project{
    display: grid;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

.proimg{
    height: 100%;
    width: 100%;
    margin: 0px 0 0px 50px;
}

.project-image{
    display: grid;
    justify-content: center;
    justify-items: center;
    align-items: center;
    width: 90%;
    height: 90%;
    margin: 0 0px 0 50px;

}

.pro-img-cont{
    display: grid;
    justify-content: center;
    justify-items: center;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 40px 0 40px 0;

}

.pro{
    height: 100%;
    width: 100%;   
     
}

.overlay{
    height: 85%;
    width: 100%;
    margin: 40px 0 40px 0;
}

.pro-btn{
    height: 40px;
    width: 120px;
    font-size: 50px;
    margin: 30px 40px 100px 40px;

}



/* projects page ends here */

/* blog page starts here */


#blog{
    height: 100%;
    width: 100%;
}

#blog h1{
    font-size: 80px;
    padding: 0;
    margin: 0;
}

.blog-cont{
    display: grid;
    justify-content: center;
    justify-items: center;
    align-items: center;
    margin: 50px 100px 50px 20px;
}

/* the start of the project detail page */

#project-detail-page{
    width: 86%;
    margin: 0;
    padding: 0;
}

.img-tech{
    display: grid;
    justify-content: center;
    justify-items: center;
    align-items: center;
    height: 100%;
    width: 100%;
    margin-left: 7px;
}

.img-tech h2{
    font-size: 40px;
    text-align: center;
}

.img-tech ul li{
    font-size: 30px;

}

.iconss{
    padding: 10px
}

.iconn{
    padding: 0px;
    height: 35px;
    width: 30px;
}


.project-img{
    height: 100%;
    width: 100%;
    margin: 5px 5px 5px 0px;
    z-index: 1;
}

Header h1{
    margin: 80px 10px 20px 10px;
    font-size: 40px;
}
 hr{
    margin: 5px 0 20px 0;
    width: 35vh;
 }

Header h2{
    font-size: 40px;
    margin: 10px;
    text-align: left;
}

article{
    padding: 0;
}

article h2{
    font-size:40px;
}

article p{
    font-size: 30px;
    text-align: left;
}





@media (min-width: 520px){
    .logo{
        width: 35%;
    }

    hr{
        width: 61vh;
    }

}

@media (min-width: 720px){
    .logo{
        width: 25%;
    }
    .imgskill{
        width: 47vh;
        height: 47vh;
    }
    hr{
        margin: 20px 0 20px 0;
        width: 54vh;
     }
}

