{% load static %}
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css" >
    <link rel="stylesheet" type="text/css" href="../static/css/small.css" media="(max-width: 1000px)">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <title>Blog</title>

</head>
<body>
    <section class="container">

        <section id="navbar">


            <nav>


                <div class="logo">
                    
                    <img src="img/d03efca5-2f44-4e99-b0c3-41237027eb9f.png" alt="profile-img" class="profile-img">
                    
                    <h2 class="my-name">ALAA ANAN</h2>
                </div>

                <input type="checkbox" id="click">
                <label for="click" class="menu-btn">
                    <i class="fas fa-bars"></i>
                </label>

                <ul>
                    <li><a href="index.html#about-me">ABOUT ME</a></li>
                    <li><a href="index.html#skills">SKILLS</a></li>
                    <li><a href="index.html#projects">PROJECTS</a></li>
                    <li><a href="index.html#blog">BLOG</a></li>
                    <li><a href="index.html#contact-me">CONTACT ME</a></li>
                </ul>
            </nav>      
        </section>

        <section id="project-detail-page">

            <Header>
                <h1>{{ Blog.title }}</h1>
        
                <h2>{{ Blog.brief }} </h2>
            </Header>

            <hr>

            <div class="img-tech">
                <img src="{% static Blog.image %}" class="project-img">
                <div clss="tec">
                    <h2>kEY WORDS</h2>
                    <ul>
                        <li>{{ Blog.keys }}</li>
                        <li>{{ Blog.keys }}</li>
                    </ul>
                    <h2>THE CODE</h2>
                    <div class="iconss">

                        <a href="https://github.com/cyb3r-champ">
                            <img src="img/Github.png" class="iconn">
                        </a>

                        <a href="https://replit.com/@lilo2525">
                            <img src="img/Repl it.png" class="iconn">
                        </a>
                    </div>
                </div>
            </div>

            <hr>

            <article>
                <h2>{{ Blog.header }}</h2>
                <img src="{% static Blog.image %}">
                <p>{{} Blog.para }}</p>

                <h2>{{ Blog.header }}</h2>
                <img src="{% static Blog.image %}">
                <p>{{} Blog.para }}</p>

        
            </article>

        </section>
        
    </section>
</body>
</html>