{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css" >
    <link rel="stylesheet" type="text/css" href="../static/css/small.css" media="(max-width: 1000px)">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <title>Project</title>

</head>
<body>
    <section class="container">

        <section id="navbar">


            <nav>


                <div class="logo">
                    
                    <img src="img/d03efca5-2f44-4e99-b0c3-41237027eb9f.png" alt="profile-img" class="profile-img">
                    
                    <h2 class="my-name">ALAA ANAN</h2>
                </div>

                <input type="checkbox" id="click">
                <label for="click" class="menu-btn">
                    <i class="fas fa-bars"></i>
                </label>

                <ul>
                    <li><a href="index.html#about-me">ABOUT ME</a></li>
                    <li><a href="index.html#skills">SKILLS</a></li>
                    <li><a href="index.html#projects">PROJECTS</a></li>
                    <li><a href="index.html#blog">BLOG</a></li>
                    <li><a href="index.html#contact-me">CONTACT ME</a></li>
                </ul>
            </nav>      
        </section>

        <section id="Projects">
            {% for project in projects %}
                <a href="project-details.html">
                    <div class="project-card">
                        <img src="{% static Porjects.image %}">
                        
                        <h4>{{ Porjects.title }}</h4>
                        <p>{{ Projects.brief }}</p>
                    </div>
                </a>
            {% endfor %}


        </section>
        
    </section>
</body>
</html>